
.form1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    width: 200px;
}
.form2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 200px;
}
.first{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
    /* display: flex;
    justify-content: space-evenly; */
}
.second{
display: grid;
grid-template-columns: repeat(3, 1fr);
    /* display: flex;
    justify-content: space-evenly; */
}
.round{
    display: flex;
    border: 100px;
    border-radius: 100px;
    background: coral;
    color: aquamarine;
    padding: 5rem;
    margin: 3rem;
}
p{
    background: red;
    border-radius: .5rem;
    border: 1rem;
    color: aquamarine;
    padding: 2rem;
    margin: 1px 300px 1px 300px;  
    text-align: center; 
}
p:hover{
    background: blue;
}

.charm{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
#just1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#just2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.theme{
    background: blue;
    border: 500px;
    border-radius: 500px;
    position:  relative;
}
.theme span{
    position: absolute;
    top: 100px;
    left: 70px;
    font-size: 20px;
    font-size: x-large;
}

.january{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.january .cart{
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    width: 200px;
}
.january .product{
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    width: 200px;
}
.january .design{
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    width: 250px;
}
.january .manners{
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    width: 250px;
}
.january .creatures{
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    width: 250px;
}
.january .injury{
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    width: 250px;
}
